* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #fff;
}

.container-cust {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 940px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.list-reset {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

/* ////////////////////////HEADER-TOP BEGIN//////////////////////// */

.header-top {
    background-color: black;
    color: #fff;
}

.header-top-inner {
    display: flex;
    justify-content: space-between;
}

.mobile {
    color: #fff;
    font-size: 20px;
}

.mobile:hover {
    color: #fff;
}

.adres {
    display: flex;
    align-items: center;
}

.adres, .geolocation {
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
}

.fa-map-marker-alt {
    color: #fff !important;
}

.call {
    color: #fff;
    text-decoration: none;
}

.call:hover {
    color: #fff;
}

.geolocation:hover {
    color: #fff;
}

.phones {
    display: flex;
}

.social-phone {
    display: flex;
    align-items: center;
}

.social-phone img {
    margin-right: 10px;
}

.phon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .btn {
    padding: 6px 10px;
    border: 1px solid #340F0F !important;
    border-radius: 6px;
}
.btn:hover {
     border: 1px solid #F0F0F0 !important;
     background-color: #F0F0F0;;
}

.logo {
    width: 220px;
}


@media (max-width: 576px) {
    .call {
        display: none;
    }

    .mobile {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .geolocation {
        display: none;
    }

    .mobile {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .phon {
        justify-content: center;
    }
}

/* ////////////////////////HEADER-TOP END//////////////////////// */

/* ////////////////////////HEADER BEGIN//////////////////////// */

.header {
    background-color: #fff;
    padding: 14px 0;
    z-index: 2;
    display: flex;
    position: relative;
}

.container_smoll {
    max-width: 940px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 100%;
    height: auto;
}

.menu {
    display: flex;
}

.header .menu li {
    padding: 0 10px;
}

.header .header-link {
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    transition: color .3s;
}

.header .header-link:hover {
    color: grey;
    text-decoration: none;
}

.toggle-menu {
    display: none;
    width: 50px;
  }

.toggle-menu:before {
    display: block;
    content: '';
   height: 2px;
    background-color: #000;
  }

.toggle-menu:after {
    display: block;
    content: '';
    height: 2px;
    background-color: #000;
  }

.toggle-menu span {
    display: block;
    height: 2px;
    background-color: #000;
    margin: 6px 0;
  }

@media (max-width: 768px) {

    .toggle-menu {
        display: block;
    }

    .menu {
        display: block;
        text-align: center;
    }

    a {
        display: block;
        font-size: 16px;
        padding: 15px 0;
    }

    .main-nav {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 100%;
        border-top: 1px solid #fff;
        background-color: #fff;
        padding: 25px 0;
        display: none;
    }

    .main-nav.open {
        display: block;
        z-index: 99;
    }
}

@media (max-width: 575px) {
    .header .logo {
        width: 150px;
    }
}

@media (max-width: 470px) {
    .header .logo {
        width: 150px;
        margin-right: 10px;
    }
    .header .button {
        margin-right: 10px;
    }
    .header .btn {
        /*padding: 2px 4px;*/
        /*border: 1px solid #340F0F !important;*/
        /*border-radius: 6px;*/
        /*font-size: 10px;*/
    }
    .header-top .mobile {
        font-size: 12px;
    }
}

@media (max-width: 433px) {
    .header .logo {
        display: none;
    }
}
/* ////////////////////////HEADER END//////////////////////// */

/* ////////////////////////SLIDER BEGIN//////////////////////// */

.slider {
    /*background-color: #fee6da;*/
    background: url("../images/slider-1.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}
.slider img {
    width: 100%;
    height: auto;
}

/*.slider .image {*/
    /*background: url("../images/slider-1.jpg") center no-repeat;*/
    /*background-size: cover;*/
    /*position: relative;*/
    /*height: 500px;*/
/*}*/

.slider-text {
    position: absolute;
    top: 13%;
    max-width: 50%;
    left: 9%;
    padding-top: 40px;
    padding-left: 20px;
}

.slider-text h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 42px;
}

.slider-text p {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 35px;
}
.slider-text span {
    color: #ff0248;
}

.slider .btn {
    /*padding: 11px 35px;*/
    padding: 10px 20px;
    border: 1px solid #340F0F !important;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    max-width: 100%;
}

.slider .btn:hover{
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0 !important;
}

.slider .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 4%;
    left: 48%;
}

.slider .owl-theme .owl-dots .owl-dot span {
    width: 3px;
    height: 3px;
    margin: 7px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 0;
}

.slider .owl-theme .owl-dots .owl-dot.active span {
    background: #000;
}

.slider .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background-color: #FFF;
    margin: 0 3px;
}

@media (max-width: 1010px) {
    .slider-text h4 {
        font-size: 40px;
    }
    .slider-text p {
        font-size: 33px;
    }
}

@media (max-width: 992px) {
    .slider .button {
        /*bottom: -30px;*/
        /*}*/
    }
}

@media (max-width: 991px) {
    .slider .slider-text {

        max-width: 70%;
    }
}

@media (max-width: 767px) {
    .slider-text h4 {
        font-size: 32px;
    }
    .slider-text p {
        font-size: 23px;
    }

    .slider .image {
        display: flex;
    }

    .slider {
        text-align: center;
        display: flex;
        align-items: center;
    }



    .slider .slider-text {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        left: 0;
        padding: 0 0;
    }
}

@media (max-width: 480px) {
    .slider .owl-theme .owl-nav.disabled + .owl-dots {
        left: 42%;
    }
}

@media (max-width: 320px) {
    .slider-text h4 {
        font-size: 24px;
    }
    .slider-text p {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .slider .btn {
        /*padding: 2px 10px 2px 6px;*/
    }

    .slider .button {
        bottom: -39%;
    }
}

/* ////////////////////////SLIDER END//////////////////////// */

/* ////////////////////////OUR SERVICES BEGIN//////////////////////// */

.services {
    padding-top: 55px;
}

.service-inner {
    margin-bottom: 55px;
    padding-top: 95px;
    padding-bottom: 38px;
    background: url("../images/services-bg.jpg") no-repeat center top #ffffff;
}

.title-link {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
}

.services-row {
    height: 100%;
}

.services .col-dis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-link:hover {
    color: #ff0248;
}

.title-link span {
    color: #ff0248;
}

.services .btn, .doctors .btn {
    padding: 10px 20px;
    width: 200px;
    max-width: 100%;
    border: 1px solid #340F0F;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.cosm-title {
    font-weight: bold;
    font-size: 16px;
    /*margin: 22px 0;*/
}

.cosm-text {
    font-weight: lighter;
    font-size: 14px;
}

.cosm-price {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

.off {
    margin-left: 19%;
}

.img {
    margin-left: 34%;
}

.service-f {
    margin-bottom: 92px;
}

.vklinik img {
    width: 100%;
    height: auto;
}

.subtitle {
    font-size: 16px;
    font-weight: bold;
}

.icon {
    height: 20px;
    width: 20px;
    background-color: #ff0248;
    border-radius: 50%;
    position: relative;
    vertical-align: sub;
    display: inline-block;
    margin-right: 20px;
}

.icon i {
    position: absolute;
    font-size: 12px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    top: 28%;
    left: 18%;
}


.vk-text {
    font-weight: lighter;
}

.vklinik .item {
    font-weight: lighter;
}

.vklinik li {
    margin-bottom: 20px;
    font-size: 14px;
}

.vklinik .title {
    font-weight: bold;
    font-size: 15px;
}

.vk-text {
    font-size: 14px;
}

.m {
    margin-top: 45px;
    margin-bottom: 0;
    text-align: center;
}

@media (max-width: 1024px) {
    .service-inner {
        background: none !important;
    }
}

@media (max-width: 992px) {
    .img {
        margin-left: 28%;
    }

    .off {
        margin-left: 21%;
    }
}

@media (max-width: 991px) {
    .img {
        margin-left: 4%;
    }

    .off {
        margin-left: 33%;
    }
}


@media (max-width: 768px) {
    /*.vklinik {*/
        /*text-align: center;*/
    /*}*/
}

@media (max-width: 767px) {

    .vklinik ul {
        padding: 20px;
        padding-left: 25px;
        text-align: left;
    }

    .vklinik .item {
        position: relative;
    }

    .vklinik .icon {
        position: absolute;
        top: 50%;
        display: block;
        left: -25px;
        transform: translateY(-50%);
    }

    .img {
        margin-left: 0;
        text-align: center !important;
    }

    .off {
        margin-left: 0;
    }

    .service-inner {
        text-align: center;
        padding-top: 5px;;
    }

    .service-f {
        margin-bottom: 0;
    }

    .image {
        margin-top: 30px;
    }
}

/* ////////////////////////OUR SERVICES END//////////////////////// */

/* ////////////////////////PHOTO BEGIN//////////////////////// */

.photo {
    background-color: #fcf9f7;
    padding-top: 55px;
    padding-bottom: 55px;
}

.photo .owl-carousel .owl-nav button.owl-prev {
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    background: #ff0248 0 0;
    width: 35px;
    height: 80px;
    position: absolute;
    top: 25%;
    left: -5px;
    border-radius: 0;
}

.owl-prev span {
    font-size: 30px !important;
    color: #fff !important;
}

.photo .owl-carousel .owl-nav button.owl-next {
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    background: #ff0248 0 0;
    width: 35px;
    height: 80px;
    position: absolute;
    top: 25%;
    right: -5px;
    border-radius: 0;
}

.owl-next span {
    font-size: 30px !important;
    color: #fff !important;
}

.photo .image {
    transition: .5s;
}

.photo .image:hover {
    transform: scale(1.2);
}

@media (max-width: 767px) {
.photo .owl-carousel .owl-nav button.owl-next, .photo .owl-carousel .owl-nav button.owl-prev {
top: 35% !important;
}
}


@media (max-width: 600px) {
    .photo .owl-carousel .owl-nav button.owl-next, .photo .owl-carousel .owl-nav button.owl-prev {
        top: 42% !important;
    }
}

@media (max-width: 320px) {
    .photo .owl-carousel .owl-nav button.owl-next, .photo .owl-carousel .owl-nav button.owl-prev {
        top: 36% !important;
    }
}

/* ////////////////////////PHOTO END//////////////////////// */

/* ////////////////////////REVIEWS BEGIN///////////////////////// */

.reviews {
    background-color: #fcf9f7;
    padding-top: 10px;
    padding-bottom: 55px;
}

.reviews .image {
    margin-top: 20px;
    max-width: 486px;
}

.reviews .image img{
    width: 100%;
    height: auto;
}

.reviews span {
    font-weight: lighter;
    font-size: 14px;
    display: block;
}

.reviews p {
    font-weight: lighter;
    font-size: 14px;
}

.reviews .name {
    font-weight: bold;
    margin-top: 20px;
}

.reviews .data {
    font-weight: lighter;
}
    .reviews .title-link {
    color: #ff0248;
}

@media (max-width: 767px) {
    .reviews .image {
        margin-top: 20px;
        max-width: 486px;
        margin-left: auto;
        margin-right: auto;
    }

    .reviews {
        text-align: center;
    }
}

/* ////////////////////////REVIEWS END///////////////////////// */

/* ////////////////////////DOCTORS BEGIN///////////////////////// */
.doctors {
    background-color: #fcf9f7;
    padding-bottom: 55px;
}

.doctors h6 {
    font-weight: bold;
}

.doctors img {
    width: 100%;
    height: auto;
}

.doctors h3 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}

.doctors p {
    font-weight: lighter;
    font-size: 14px;
}

.doctors .color {
    background-color: #f8f8f8;
    padding: 12px 0;
}

.doctors .doctor-text::after {
    content: "";
    display: block;
    height: 1px;
    width: 102px;
    background-color: black;
    margin-top: 4px;
}

.doctors img {
    width: 100%;
    height: auto;
}

.doctors .image {
    max-width: 500px;
    max-height: 500px;
}

@media (max-width: 767px) {
    .doctors {
        text-align: center;
    }
    .doctors .image {
        text-align: center;
        max-width: 500px;
        max-height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .doctors .doctor-text::after {
        margin-left: auto;
        margin-right: auto;
    }

    .doctors .button .btn {
        /*padding: 10px 25px !important;*/
        width: 240px !important;
        /*max-width: 100% !important;*/
        /*border: 1px solid #340F0F !important;*/
        /*border-radius: 6px !important;*/
    }
}
/* ////////////////////////DOCTORS END///////////////////////// */

/* ////////////////////////PARTNERS BEGIN//////////////////////// */
.partners {
    background-color: #fcf9f7;
    padding-bottom: 55px;
}

.partners .image {
    display: inline-block;
}

.clik {
    color: #ff0248;
}

.clik:hover {
    color: #ff0248;
}

.unable {
    font-weight: lighter;
}

@media (max-width: 576px) {
    .follow {
        font-size: 27px;
    }
}

/* ////////////////////////PARTNERS END//////////////////////// */

/* ////////////////////////FOOTER BEGIN//////////////////////// */

.footer {
    display: flex;
    padding-top: 24px;
    padding-bottom: 21px;
    background-color: black;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.footer .phones a {
    font-size: 12px;
    margin: 0 5px;
    color: #fff;
    display: flex;
    align-items: center;
}

.footer .social-icons a {
    font-size: 15px;
    margin: 0 5px;
    color: #fff;
}

.footer a:hover {
    color: gray;
    text-decoration: none;
}

.social-icons {
    display: flex;
}

.email {
    display: flex;
    align-items: center;
}

.footer .image {
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
}
.footer img {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .footer .phones a {
        font-size: 12px;
        margin: 0 5px;
        color: #fff;
        display: flex;
        align-items: flex-end;
    }

    .social-icons {
        display: flex;
        align-items: flex-end;
    }

    .footer {
        display: flex;
        padding-top: 0;
        padding-bottom: 21px;
        background-color: black;
    }
}

@media (max-width: 576px) {
    .footer-inner {
        flex-direction: column;
        align-items: center;
    }
}
/* ////////////////////////FOOTER END//////////////////////// */
/*//////////////////////POP-UP BEGIN//////////////////////*/

.popup {
    background-color: #fff;
    max-width: 500px;
    padding: 60px 90px;
    margin: 0 auto;
    position: relative;
}

.popup h3{
    margin-bottom: 30px;
}

.popup input {
    max-width: 374px;
    padding: 10px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #000000;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.popup input[type="text"] {
    margin-bottom: 30px;
}

.popup input[type="number"] {
    margin-bottom: 36px;
}
.popup input:focus {
    outline: none;
}

.popup .button {
    padding: 6px 10px;
    border: 1px solid #340F0F !important;
    border-radius: 6px;
    background-color: #fff;
}
.popup .button:hover {
    border: 1px solid #F0F0F0 !important;
    background-color: #F0F0F0;;
}

.popup .disbutt {
    margin-top: 35px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (max-width: 575px) {
    .popup {
        padding: 60px 60px;
    }
}

@media (max-width: 440px) {
    .popup {
        padding: 36px 18px;
    }
}

/*//////////////////////POP-UP END//////////////////////*/